<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Update User</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Jake Database</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Homepage</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/create"
                >Update User</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- UI add user -->
    <div class="d-flex justify-content-center align-items-center min-vh-100">
      <div class="card p-4 shadow-lg" style="max-width: 600px; width: 100%">
        <h3 class="text-center mb-4">Update Person</h3>
        <form action="/update-user" method="POST">
          <div class="row">
            <div class="form-group col-md-6 d-none">
              <label for="inputLastName">UserID</label>
              <input
                type="text"
                value="<%=userUpdate.PersonID%>"
                class="form-control"
                name="UserID"
                placeholder="ID"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputLastName">Last Name</label>
              <input
                type="text"
                value="<%=userUpdate.LastName%>"
                class="form-control"
                name="inputLastName"
                placeholder="Last Name"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputFirstName">First Name</label>
              <input
                value="<%=userUpdate.FirstName%>"
                type="text"
                class="form-control"
                name="inputFirstName"
                placeholder="First Name"
              />
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="inputEmail">Email</label>
              <input
                type="email"
                class="form-control"
                name="inputEmail"
                placeholder="Email"
                value="<%=userUpdate.email%>"
              />
            </div>
            <div class="form-group col-md-6">
              <label for="inputAddress">Address</label>
              <input
                type="text"
                class="form-control"
                name="inputAddress"
                placeholder="Address"
                value="<%=userUpdate.Address%>"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="inputCity">City</label>
            <input
              type="text"
              class="form-control"
              name="inputCity"
              placeholder="City"
              value="<%=userUpdate.City%>"
            />
          </div>
          <button type="submit" class="btn btn-info my-4 p-2">Update</button>
        </form>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
